@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Bold.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Medium.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Regular.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Root UI';
    font-size: 16px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: auto;
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.9vw;
}

.logo {
    width: 218px;
}

.menu {
    border-top: 1px solid #E6EDF8;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 16px;
}

.header__menu {
    width: 35.5vw;
    margin: 0 25px;
    height: auto;
}

.address {
    display: flex;
}

address>div {
    display: flex;
}

.address img {
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.address__telephon a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    font-style: normal;
}

.address__messages a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    margin-right: 60px;
    font-style: normal;
}

.button {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.headerButton {
    color: #ffffff;
    background-color: #0046BB;
}

.iconMessages {
    display: flex;
}

.iconMessages img {
    margin-left: 38px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* section */

.section {
    width: 100vw;
    height: 64vh;
    min-height: 600px;
    background: url("./images/home-background.jpg") center no-repeat;
    background-size: cover;
}

.section__container {
    padding-top: 80px;
}

.section__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49.32%;
}

.section__container__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49vh;
    margin-top: 20px;
    padding-right: 60px;
}

.sectionButton {
    color: #0046BB;
    margin-top: 40px;
}

/* slider */
.slider {
    width: 60.93%;
    margin: 0 auto;
}

.slider__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.slider__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slader__block1 {
    background: url(./images/slider1.png) center;
    background-color: #F2F5F5;
}

.slader__block {
    justify-content: center;
    border-radius: 15px;
    padding: 23.9% 2.1% 0 3%;
    width: 31.62%;
    height: auto;
}

.slader__block__row {
    display: flex;
    align-items: end;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.slader__block1__text {
    width: 166px;
}

.slader__block__text {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}

.sliderButton {
    border: none;
    background: none;
    cursor: pointer;
}

.slader__block2__img {
    background-color: #fff;
}

.slader__block__img {
    padding: 0;
    padding: 13px;
    border-radius: 30px;
}

/* slader__block2 */
.slader__block2 {
    background: url("./images/slider2.png") center;
    background-color: #0046BB;
}

.slader__block2__text {
    width: 148px;
    color: #ffffff;
}

.slader__block1__img,
.slader__block3__img {
    background-color: #0046BB;
}

/* slader__block3 */
.slader__block3 {
    background: url("./images/slider3.png") center;
    background-color: #F2F5F5;
}

.slader__block3__text {
    width: 148px;
}
