@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Bold.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Medium.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Regular.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Root UI';
    font-size: 16px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: auto;
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.9vw;
}

.logo {
    width: 218px;
}

.menu {
    border-top: 1px solid #E6EDF8;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 16px;
}

.header__menu {
    width: 35.5vw;
    margin: 0 25px;
    height: auto;
}

.address {
    display: flex;
}

address>div {
    display: flex;
}

.address img {
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.address__telephon a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    font-style: normal;
}

.address__messages a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    margin-right: 60px;
    font-style: normal;
}

.button {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.headerButton {
    color: #ffffff;
    background-color: #0046BB;
}

.headerButton:hover {
    color: #0046BB;
    background-color: #ffffff;
    outline: 1px solid #0046BB;
    ;
    transition: background-color .5s, color .5s, outline .5;
}

.iconMessages {
    display: flex;
}

.iconMessages img {
    margin-left: 38px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header__menu__img__whatsapp {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #ffffff;
    background-image: url('images/whatsapp.png');
    cursor: pointer;
}

.header__menu__img__whatsapp:hover {
    background-image: url('images/whatsapp-grey.png');
    transition: background-image .5s;
}

.header__menu__img__telegram {
    width: 18px;
    height: 15px;
    border: none;
    background-color: #ffffff;
    background-image: url('images/telegram.png');
    cursor: pointer;
    margin-left: 40px;
}

.header__menu__img__telegram:hover {
    background-image: url('images/telegram-grey.png');
    transition: background-image .5s;
}

/* section */

.section {
    width: 100%;
    height: 64vh;
    min-height: 600px;
    background: url("./images/home-background.jpg") center no-repeat;
    background-size: cover;
}

.section__container {
    padding-top: 80px;
}

.section__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49.32%;
}

.section__container__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49vh;
    margin-top: 20px;
    padding-right: 60px;
}

.sectionButton {
    color: #0046BB;
    margin-top: 40px;
}

.sectionButton:hover {
    color: #ffffff;
    background-color: #0046BB;
    transition: background-color .5s, color .5s, border .5;
}

/* slider */

.swiper {
    width: 60.93vw;
    position: relative;
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.swiper-wrapper {
    margin-top: 42px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none !important;
}

.swiper-button-block {
    position: absolute;
    width: 80px;
    top: 23px;
    right: 0;
    height: 24px;
}

.slider__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.slider__block1 {
    background: url(./images/slider1.png) center;
    background-color: #F2F5F5;
}

.slider__block {
    justify-content: center;
    border-radius: 15px;
    padding: 280px 6.72% 6.72% 9.4%;
    width: 100%;
}

.slider__block__row {
    display: flex;
    align-items: end;
    justify-content: center;
    justify-content: space-between;
}

.slider__block1__text {
    width: 166px;
}

.slider__block__text {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    width: 150px;
}

.slider__block__img {
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 30px;
    background-color: #0046BB;
    background-image: url('images/arrow-white.png');
    background-size: cover;
    border: 13px #0046BB solid;
}

/* slider__block2 */
.slider__block2 {
    background: url("./images/slider2.png") center;
    background-color: #F2F5F5;
}

.slider__block2__text {
    width: 148px;
    color: #ffffff;
}

/* slider__block3 */
.slider__block3 {
    background: url("./images/slider3.png") center;
    background-color: #F2F5F5;
}

.slider__block3__text {
    width: 148px;
}

.slider__block:hover {
    background-color: #0046BB;
    color: #ffffff;
    transition: background-color 1s;

    .slider__block__img {
        background-color: #ffffff;
        background-image: url('images/arrow-blue.png');
        border: 13px #ffffff solid;
        transition: background-color 1s, border 1s, background-image .5s;
    }
}

/* main */
.main {
    margin-bottom: 80px;
}

.main__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    max-width: 1170px;
    height: 442px;
    background: url("./images/Mask-group.jpg") center center;
    background-size: cover;
    padding-left: 6.83%;
}

.main__block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 492px;
    margin-bottom: 12px;
    margin-top: 0;
}

.main__block__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: 495px;
}

.main__block__inputGroup {
    display: flex;
    width: 490px;
    margin-top: 40px;
    margin-bottom: 37px;
}

.main__block__inputGroup input {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    font-size: 16px;
    width: 230px;
    outline: none;
}

.main__block__inputGroup input::-webkit-input-placeholder {
    color: #0046BB;
}

.main__block__inputGroup input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__block__inputGroup>input {
    margin-right: 30px;
}

.main__block__btnInfo {
    display: flex;
    align-items: center;
    width: 490px;
}

.main__block__btn {
    background-color: #0046BB;
    color: #ffffff;
    height: 54px;
}

.main__block__btn:hover {
    color: #0046BB;
    background-color: #ffffff;
    transition: background-color .5s, color .5s;
}

.main__block__info {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 294px;
    margin: 0;
}

.main__block__btnInfo-underlining {
    text-decoration: underline;
    cursor: pointer;
}

/* modal */
.modal {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(56, 56, 56, .5);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transform: opacity .4s, visibility .4s;
}

.modal__box {
    max-width: 1170px;
    position: relative;
    max-width: 1170px;
    padding: 60px 90px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    margin: 90px auto 30px;
    transform: scale(0);
    transition: transform .8s;
    border-radius: 15px;
}

.modal__box p {
    line-height: 24px;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    color: rgba(56, 56, 56, 1);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal__box__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    width: auto;
    margin-bottom: 40px;
}

.modal__box__subtitle {
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0;
}

.modal__box-fw500 {
    font-weight: 500;
}

.modal__box__text {
    margin: 0;
}

/* wrap */
.wrap__body {
    display: flex;
    padding-left: 40px;
}

.wrap__body__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #383838;
    width: 89%;
    margin-bottom: 40px;
}

.wrap__body__left__block1__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.wrap__body__left__block1,
.wrap__body__left__block2 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F2F6FC;
    justify-content: center;
    width: 22.13vw;
    min-width: 340px;
    height: 40.5%;
    max-height: 200px;
    margin: 30px 0;
    border-radius: 15px;
    padding: 0px 30px 0 65px;
}

.wrap__body__left__block1-mt0 {
    margin-top: 0;
}

.wrap__body__left__block1__prof {
    height: 100%;
    margin-top: 25px;
}

.wrap__body__left__block1 h3,
.wrap__body__left__block2 h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}

.wrap__body__left__block1__text,
.wrap__body__left__block2__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: auto;
    max-width: 280px;
    margin: 5px 0 0;
}

.wrap__body__left__block1__img,
.wrap__body__left__block2__img {
    position: absolute;
    left: -40px;
}

.wrap__body__right {
    margin-left: 5%;
}

.wrap__body__right p {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    margin: 15px 0;
}

.wrap__body__right__items__list {
    display: flex;
    align-items: center;
}

p.wrap__body__right__item {
    padding-left: 10px;
    margin: 7px 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

p.wrap__body__right__item-mt0 {
    margin-top: 0;
}

p.wrap__body__right__text {
    margin-top: 0;
}

p.wrap__body__right__item-mb0 {
    margin-bottom: 0;
}

/* aside */
.aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/aside-background.jpg') center no-repeat;
    background-size: cover;
    width: auto;
    height: 53.7vh;
}

.aside__block {
    display: flex;
    flex-direction: column;
}

.aside__block__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    margin-top: 60px;
}

.aside__block__item {
    margin-bottom: 30px;
    padding-right: 6%;
}

.aside__block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #ffffff;
    margin-bottom: 5px;
}

.aside__block__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #ffffff;
}

.aside__block__item {
    display: flex;
    position: relative;
    align-items: center;
    background: url('images/subtract.png') center no-repeat;
    width: auto;
    padding-left: 65px;
    width: 340px;
    height: 108px;
    border-radius: 15px;
}

.aside__block__item-blue {
    background: url('images/subtract-blue.png') center no-repeat;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.aside__block__item__img-blue-hover {
    display: none;
}

.aside__block__item-blue:hover {
    background: url('images/subtract.png') center no-repeat;
    color: rgba(56, 56, 56, 1);
    transition: background .4s, color .4s;

    .aside__block__item__img-white-hover {
        display: none;
        transition: display .4s;
    }

    .aside__block__item__img-blue-hover {
        display: block;
        transition: display .4s;
    }
}

.aside__block__item__img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: -30px;
}

.aside__block__item__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

/* aside__modal */
.aside__mod {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 499;
    width: 100%;
    height: 100vh;
    background-color: rgba(56, 56, 56, .5);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: opacity .4s, visibility .4s;
}

.aside__modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 736px;
    border-radius: 15px;
    padding: 0 70px;
    background-color: #ffffff;
    z-index: 1;
    transform: scale(0);
    transition: transform .8s;
}

.aside__mod.open {
    visibility: visible;
    opacity: 1;
}

.aside__mod.open .aside__modal {
    transform: scale(1);
}

.aside__modal__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    color: rgba(56, 56, 56, 1);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    padding-bottom: 3px;
}

.aside__modal__close-btn:hover {
    color: rgba(0, 70, 187, 1);
    transition: color .4s;
}

.aside__modal__form {
    display: flex;
    flex-direction: column;
}

.aside__modal__form__textarea {
    resize: none;
    width: 430px;
    height: 150px;
    border-radius: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    outline: 1px solid rgba(0, 70, 187, 1);
    border: none;
    font-size: 16px;
    margin-bottom: 25px;
}

.aside__modal__title {
    font-family: 'PT Root UI';
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    margin-bottom: 40px;
    text-align: left;
}

.aside__modal__form__input {
    height: 54px;
    padding-left: 35px;
    padding-right: 35px;
    outline: 1px solid rgba(0, 70, 187, 1);
    border: none;
    border-radius: 30px;
    color: rgba(0, 70, 187, 1);
    font-size: 16px;
    margin-bottom: 20px;
}

.aside__modal__form__textarea::-webkit-input-placeholder {
    color: #0046BB;
}

.aside__modal__form__input::-webkit-input-placeholder {
    color: #0046BB;
}

.aside__modal__form__input:focus {
    border: none;
}

.aside__modal__form__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.aside__modal__form__button {
    width: 430px;
    height: 54px;
    padding: 15px 176px 15px 176px;
    border-radius: 30px;
    background-color: rgba(0, 70, 187, 1);
    color: #ffffff;
    font-family: 'PT Root UI';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    border: none;
    cursor: pointer;
}

.aside__modal__text {
    font-family: 'PT Root UI';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    margin: 15px 0 0;
}

.aside__modal__text-underlining {
    text-decoration: underline;
    cursor: pointer;
}

.aside__modal__text-underlining:hover {
    color: rgba(0, 70, 187, 1);
    transform: color .4s;
}