@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Bold.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Medium.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src:
        url('./fonts/PT-Root-UI_Regular.woff2') format('woff2'),
        url('./fonts/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Root UI';
    font-size: 16px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: auto;
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.9vw;
}

.logo {
    width: 218px;
}

.menu {
    border-top: 1px solid #E6EDF8;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 16px;
}

.header__menu {
    width: 35.5vw;
    margin: 0 25px;
    height: auto;
}

.address {
    display: flex;
}

address>div {
    display: flex;
}

.address img {
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.address__telephon a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    font-style: normal;
}

.address__messages a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #383838;
    margin-right: 60px;
    font-style: normal;
}

.button {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.headerButton {
    color: #ffffff;
    background-color: #0046BB;
}

.headerButton:hover {
    color: #0046BB;
    background-color: #ffffff;
    outline: 1px solid #0046BB;
    ;
    transition: background-color .5s, color .5s, outline .5;
}

.iconMessages {
    display: flex;
}

.iconMessages img {
    margin-left: 38px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header__menu__img__whatsapp {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #ffffff;
    background-image: url('images/whatsapp.png');
    cursor: pointer;
}

.header__menu__img__whatsapp:hover {
    background-image: url('images/whatsapp-grey.png');
    transition: background-image .5s;
}

.header__menu__img__telegram {
    width: 18px;
    height: 15px;
    border: none;
    background-color: #ffffff;
    background-image: url('images/telegram.png');
    cursor: pointer;
    margin-left: 40px;
}

.header__menu__img__telegram:hover {
    background-image: url('images/telegram-grey.png');
    transition: background-image .5s;
}

/* section */

.section {
    width: 100%;
    height: 64vh;
    min-height: 600px;
    background: url("./images/home-background.jpg") center no-repeat;
    background-size: cover;
}

.section__container {
    padding-top: 80px;
}

.section__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49.32%;
}

.section__container__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 49vh;
    margin-top: 20px;
    padding-right: 60px;
}

.sectionButton {
    color: #0046BB;
    margin-top: 40px;
}

.sectionButton:hover {
    color: #ffffff;
    background-color: #0046BB;
    transition: background-color .5s, color .5s, border .5;
}

/* slider */

.swiper {
    width: 60.93vw;
    position: relative;
    height: auto;
    margin-top: 85px;
}

.swiper-wrapper {
    margin-top: 42px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none !important;
}

.swiper-button-block {
    position: absolute;
    width: 80px;
    top: 23px;
    right: 0;
    height: 24px;
}

.slider__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.slider__block1 {
    background: url(./images/slider1.png) center;
    background-color: #F2F5F5;
}

.slider__block {
    justify-content: center;
    border-radius: 15px;
    padding: 280px 6.72% 6.72% 9.4%;
    width: 100%;
}

.slider__block__row {
    display: flex;
    align-items: end;
    justify-content: center;
    justify-content: space-between;
}

.slider__block1__text {
    width: 166px;
}

.slider__block__text {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    width: 150px;
}

.slider__block__img {
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 30px;
    background-color: #0046BB;
    background-image: url('images/arrow-white.png');
    background-size: cover;
    border: 13px #0046BB solid;
}

/* slider__block2 */
.slider__block2 {
    background: url("./images/slider2.png") center;
    background-color: #F2F5F5;
}

.slider__block2__text {
    width: 148px;
    color: #ffffff;
}

/* slider__block3 */
.slider__block3 {
    background: url("./images/slider3.png") center;
    background-color: #F2F5F5;
}

.slider__block3__text {
    width: 148px;
}

.slider__block:hover {
    background-color: #0046BB;
    color: #ffffff;
    transition: background-color 1s;

    .slider__block__img {
        background-color: #ffffff;
        background-image: url('images/arrow-blue.png');
        border: 13px #ffffff solid;
        transition: background-color 1s, border 1s, background-image .5s;
    }
}


/* main */
.main__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    max-width: 1170px;
    height: 442px;
    background: url("./images/Mask-group.jpg") center center;
    background-size: cover;
    padding-left: 6.83%;
}

.main__block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 492px;
    margin-bottom: 12px;
    margin-top: 0;
}

.main__block__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: 495px;

}

.main__block__inputGroup {
    display: flex;
    width: 490px;
    margin-top: 40px;
    margin-bottom: 37px;
}

.main__block__inputGroup input {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    font-size: 16px;
    width: 230px;
    outline: none;
}

.main__block__inputGroup input::-webkit-input-placeholder {
    color: #0046BB;
}

.main__block__inputGroup input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__block__inputGroup>input {
    margin-right: 30px;
}

.main__block__btnInfo {
    display: flex;
    align-items: center;
    width: 490px;
}

.main__block__btn {
    background-color: #0046BB;
    color: #ffffff;
    height: 54px;
}

.main__block__info {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
    width: 294px;
    margin: 0;
}

.main__block__btnInfo-underlining {
    text-decoration: underline;
}